stages:
  - check           # check that requirements are met before starting the deployement
  - deploy

image: "${CI_REGISTRY}/bioinfo-containers/deploy-geniac:devel"

cache:
  paths:
    - vendor/python


before_script:
  - set -euo pipefail
  - source /opt/etc/bashrc # needed to activate the geniac conda env

.test_script: &test_script
  stage: check
  script:
    - tox

docs:
  stage: check
  script:
    - tox -e docs

pypi:
  stage: deploy
  script:
    - env
    - python -m pip install --upgrade build
    - python -m build
    - ls dist/*
    - TWINE_PASSWORD=${PYPI_TOKEN} TWINE_USERNAME=__token__ python -m twine upload dist/*
  only:
    - tags

