stages:
  - check           # check that requirements are met before starting the deployement
  - deploy

cache:
  paths:
    - vendor/python

before_script:
  - python -v                                   # Print out Python version for debugging
  # Setup git
  - apt-get install git
  - curl -sSL https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -o /tmp/miniconda.sh  && bash /tmp/miniconda.sh -bfp /usr/local && rm -rf /tmp/miniconda.sh
  - git config --global user.email $GITLAB_USER_EMAIL
  - git config --global user.name $GITLAB_USER_NAME
  # Install dependencies for the testing environment
  - pip install -U pip setuptools setuptools-scm wheel
  - pip install -U tox-conda
  - pip install -U twine

.test_script: &test_script
  stage: check
  script:
    - tox

docs:
  stage: check
  image: "python:3.10"
  script:
    - tox -e docs

pypi:
  image: "python:3.10"
  stage: deploy
  script:
    - env
    - python -m pip install --upgrade build
    - python -m build
    - ls dist/*
    - TWINE_PASSWORD=${PYPI_TOKEN} TWINE_USERNAME=__token__ python -m twine upload dist/*
  only:
    - tags

