
params {

  // option to build the container images
  // leave all the default options to false
  buildSingularityImages = false
  buildSingularityConfig = false
  buildDockerImages = false
  
  // directory for publishDir
  publishDirConf = 'results/conf'
  publishDirSingularityImages = 'results/singularity/images'
  publishDirDeffiles = 'results/singularity/deffiles'

  // git information
  gitUrl = 'unknown'
  gitCommit = 'unknown'

}

includeConfig 'conf/base.config'

