
params {

  // Options to generate the conf/*.config files
  buildConfigFiles = false

  // option to build the container images
  // leave all the default options to false
  buildSingularityImages = false
  buildDockerImages = false
  
  // directory for publishDir
  publishDirConf = 'results/conf'
  publishDirSingularityImages = 'results/singularity/images'
  publishDirDeffiles = 'results/singularity/deffiles'
  publishDirDockerfiles = 'results/docker/Dockerfiles'

  // git information
  gitUrl = 'unknown'
  gitCommit = 'unknown'

}

includeConfig 'conf/base.config'

