/*
 * -------------------------------------------------
 *  Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */


/*
 * Global default params, used in configs
 */

params {
 
  help = false
  name = false
  counts = 'star'
  stranded = 'auto'

  genome = false
 
  singleEnd = false
  reads = null

  outputDir = './results'
  email = false
  plaintext_email = false

  multiqc_config = "$baseDir/assets/multiqc_config.yaml"
  metadata = "$baseDir/assets/metadata.tsv"

  maxMultiqcEmailFileSize = 25.MB
  readPaths = null
  summaryDir = "${params.outputDir}/summary"
  
  // Defaults only, expecting to be overwritten
  maxMemory = 128.GB
  maxCpus = 16
  maxTime = 240.h

  // conda
  condaCacheDir = "$HOME/conda-cache-nextflow"

  tools {
    fastqc = "conda-forge::openjdk=8.0.192=h14c3975_1003 bioconda::fastqc=0.11.6=2"
    rmarkdown = "conda-forge::r-markdown=0.8"
    trickySoftware = "${baseDir}/recipes/conda/trickySoftware.yml"
  }


  containers {
    singularityImagePath = "${baseDir}/../containers/singularity"
    singularityRunOptions = ""
    dockerRunOptions = ""
    root = "${baseDir}"

    // containers are based on CentOS linux
    // some tools require dependcies to be installed with 'yum install'
    // specific dependencies are listed below
    yum {
            fastqc = 'fontconfig dejavu*'
        }

    git {
        // keep this as syntax example
        some_tools = 'https://github.com/some_user/some_tools::commit_hash'
    }
  }

    // genome annotations
    genomeAnnotationPath = "${baseDir}/../annotations"

    // cluster
    queue = null

}


/*
 * Environmment variables 
 */

env {
    my_global_var = "someValue"
}

