/*
 * -------------------------------------------------
 *  Nextflow config file for containers : Singularity or Docker
 * -------------------------------------------------
 */




process {
  // Process-specific resource requirements
  withLabel:fastqc {
    container = "${params.containers.singularityImagePath}/fastqc.simg"
  }
  
  withLabel:lolcow{
    container = "${params.containers.singularityImagePath}/lolcow.simg"
  }
  
  withLabel:notools{
    container = "${params.containers.singularityImagePath}/notools.simg"
  }

  withLabel:rmarkdown {
    container = "${params.containers.singularityImagePath}/rmarkdown.simg"
  }

  withLabel:trikysoftware{
    container = "${params.containers.singularityImagePath}/trickysoftware.simg"
  }

}
