/*
 * -------------------------------------------------
 *  Nextflow config file for containers : Singularity or Docker
 * -------------------------------------------------
 */




process {
  // Process-specific resource requirements
  withLabel:fastqc {
    container = "${params.containers.singularityImagePath}/fastqc.simg"
  }
  
  withLabel:alpine{
    container = "${params.containers.singularityImagePath}/alpine.simg"
  }
  
  withLabel:helloworld{
    container = "${params.containers.singularityImagePath}/helloworld.simg"
  }

  withLabel:onlylinux{
    container = "${params.containers.singularityImagePath}/onlylinux.simg"
  }

  withLabel:rmarkdown {
    container = "${params.containers.singularityImagePath}/rmarkdown.simg"
  }

  withLabel:trikysoftware{
    container = "${params.containers.singularityImagePath}/trickysoftware.simg"
  }

}

includeConfig 'process.config'
