/*
 * -------------------------------------------------
 *  Nextflow config file for containers : Singularity or Docker
 * -------------------------------------------------
 */




process {
  // Process-specific resource requirements
  withLabel:fastqc {
    container = "${params.containers.singularityImagePath}/fastqc-${params.fastqc_version}.simg"
  }
  withLabel:rmarkdown {
    container = "${params.containers.singularityImagePath}/r-markdown-${params.rmarkdown_version}.simg"
  }
}
