/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run main.nf -profile test
 */

params {

  config_profile_name = 'RNA-seq test data from Gendrel et al. (2012)'
  config_profile_description = 'Minimal test dataset to check pipeline functions'

  // Limit resources so that this can run on Travis
  max_cpus = 4
  max_memory = 32.GB
  max_time = 1.h

  // Input data
  /*
  readPaths = [
    ['SRR1106775_1', ["$baseDir/test/data/SRR1106775-1M_1.fastq.gz", "$baseDir/test/data/SRR1106775-1M_2.fastq.gz"]],
    ['SRR1106776_1', ["$baseDir/test/data/SRR1106776-1M_1.fastq.gz", "$baseDir/test/data/SRR1106776-1M_2.fastq.gz"]]
   ]
  */
  // Sample Plan - to use instead of readPaths
  samplePlan = "$baseDir/test/samplePlan.csv"

  // Metadata
  metadata = "$baseDir/test/metadata.tsv"

  // Annotations
  genome =  'mm10'
}
