/*
 * -------------------------------------------------
 *  Nextflow config file for tools options
 * -------------------------------------------------
 * Defines parameters for tools
 */

/*
 * Default config - works for most of reference genome
 */

params {

  //bowtie
  bowtie_opts = "-v 2 -a -m 1 --best --strata --nomaqround -y"
  
  // STAR
  star_opts = "--outSAMmultNmax 1 --outFilterMismatchNmax 999 --outFilterMismatchNoverLmax 0.04 --outSAMprimaryFlag OneBestScore --outMultimapperOrder Random --outSAMattributes All"
  star_opts_counts = "--quantMode GeneCounts"

  // TopHat
  tophat2_opts = "--b2-sensitive -g 1 -N 2 --no-coverage-search"

  // HTSeq
  htseq_opts = "-f bam -t exon -r pos"
  
  // FeatureCounts
  featurecounts_opts = "-t exon -C -p"

  // RSeQC
  n_check = 200000
  
  // samtools
  sort_max_memory = "900M"

  // gene_body_coverage
  subsampFilesizeThreshold = 1000000 // Don't subsample BAMs for RSeQC gene_body_coverage if less than this

  // markdup
  markdup_java_options = '"-Xms4000m -Xmx7g"' //Established values for markDuplicate memory consumption, see https://github.com/SciLifeLab/Sarek/pull/689 for details
}


/*
 * Custom options for different genomes
 */

params{
   genomes{

      'hg19'{
         star_opts = "--outFilterType BySJout --outSAMmultNmax 1 --outFilterMultimapNmax 20 --alignSJoverhangMin 8 --alignSJDBoverhangMin 1 --outFilterMismatchNmax 999 --outFilterMismatchNoverLmax 0.04 --alignIntronMin 20 --alignIntronMax 1000000 --alignMatesGapMax 1000000 --outSAMprimaryFlag OneBestScore --outMultimapperOrder Random --outSAMattributes All"
      }

      'hg38'{
         star_opts = "--outFilterType BySJout --outSAMmultNmax 1 --outFilterMultimapNmax 20 --alignSJoverhangMin 8 --alignSJDBoverhangMin 1 --outFilterMismatchNmax 999 --outFilterMismatchNoverLmax 0.04 --alignIntronMin 20 --alignIntronMax 1000000 --alignMatesGapMax 1000000 --outSAMprimaryFlag OneBestScore --outMultimapperOrder Random --outSAMattributes All"
      }	  
   }
}

